<div class="container">
  <%= simple_form_for [@island] do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :availability %>
  <%= f.submit "Update Island", class: 'btn btn-primary' %>
  <% end %>
</div>
