<div class="container">
  <%= simple_form_for @island do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :availability %>
        <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
</div>
