<<<<<<< HEAD
=======
<!-- <h1 class="d-flex justify-content-center">Whistle Islands</h1>
>>>>>>> a0e6122c090910e368309765e103e68bbf27c1f8
<div class="container">
<h1 class="d-flex justify-content-center">Whistle Islands</h1>
  <div class="row">
    <% @islands.each do |island| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: url('https://www.privateislandsonline.com/uploads/984/58fa753c8c47a.jpg')">
          <div class="card-description">
            <h3>Name: <%= link_to island.name, island_path(island) %></h3>
          </div>
          <p><b>Description</b> <%= island.description %></p>
          <p><b>Owner</b> <%= island.user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
</div> -->

<<<<<<< HEAD
=======
<h1 class="d-flex justify-content-center">Whistle Islands</h1>
<div class="cards">
  <% @islands.each do |island| %>
      <div class="card-island">
        <img src="https://ae01.alicdn.com/kf/HTB1v0bAb6ihSKJjy0Fiq6AuiFXa6.jpg" />
        <div class="card-island-infos">
          <div>
            <h2><%= link_to island.name, island_path(island) %></h2>
            <p><%= island.description %></p>
          </div>
          <h2 class="price"><%= island.price %></h2>
          <img src="https://i.pinimg.com/originals/b6/4f/fe/b64ffe7276b4579c348f6bea88c2bb44.png" class="card-island-user avatar-bordered" />
        </div>
      </div>
  <% end %>
</div>

>>>>>>> a0e6122c090910e368309765e103e68bbf27c1f8
