  <h1> <%= @island.name  %> </h1>

  <h3>Description :</h3>

<p><%= @island.description %></p>
<p>Price : <%= @island.price %> $ per night</p>
<p> Status : <% if @island.availability %> Available </p>
  <% else %>
    Not available
  <% end %>

  <%= link_to "Book !", new_island_booking_path(@island), class: 'btn btn-primary' %>
  <%= link_to "Back to the list", islands_path, class: 'btn btn-primary' %>
  <!-- If I am the owner, display the link-->
  <!-- otherwise, don't -->
  <% if current_user == @island.user %>
    <%= link_to "Edit your Island", edit_island_path(@island), class: 'btn btn-primary' %>
    <%= link_to "Delete your Island", island_path(@island), class: 'btn btn-primary', method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% else %>
    <!-- nothing -->
  <% end %>
</div>

