<div class="container">

<!-- ADD CARROUSEL
 -->

<h1> <%= @island.name  %> </h1>

<h2>Island Description :</h2>

<p><%= @island.description  %></p>
<p><%= @island.price  %></p>
<p><%= @island.availability  %></p>

<%= link_to "Back to the list", root_path %>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail[:id]), class: 'btn btn-primary' %>

</div>

