<div class="container">
  <h1>Here is the list of your bookings:</h1>

  <% @bookings.each do |booking| %>
    <h3><%= link_to booking.island.name, island_path(booking.island) %></h3>
    <h5><%= booking.island.description %></h5>
    <p>Arrival: <%= booking.start_date %></p>
    <p>Departure: <%= booking.end_date %></p>
    <p>Price: <%= booking.total_price %></p>
    <%= link_to "🗑", island_booking_path(booking.island, booking),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
</div>



