<div class="user-settings">
  <div class="profile-pic">

    <% if @user.profile_photo %>
      <%= cl_image_tag @user.profile_photo, class: "avatar-xlarge"%>
    <% end %>
    <div>
      <% if @user == current_user %>
        <%= link_to "Edit profile", update_user_path(current_user) %>
      <% end %>
    </div>
  </div>
  <div style="margin-top: 25px; margin-bottom:25px ">
    <hr>
  </div>
  <p><b><%= @user.name %>'s profile:</b></p>
  <div class="user-name-email">
    <p>Name: <%= @user.name %></p>
    <p>E-Mail: <%= @user.email %></p>
  </div>
</div>
